/* Basic Setup */

/* Makeshift CSS Reset */
{
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
	display: block;
}

body {
	margin: 0 auto;
	width: 940px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: #AF7744;
}

h2 {
	font-size: 28px;
	line-height: 44px;
	padding: 10px 0;
}

h3 {
	font-size: 20px;
	line-height: 22px;
	padding: 11px 0;
}

p {
	padding-bottom: 12px;
}

/* Navigation */
nav {
	position: absolute;
	left: 0;
	width: 100%;
	background: url("../png/nav-background.png");
}
nav ul {
	margin: 0 auto;
	width: 940px;
	list-style: none;
}

nav li {
	float: left;
}

	nav ul li a {
		display: block;
		margin-right: 20px;
		width: 140px;
		font-size: 17px;
		line-height: 44px;
		text-align: center;
		text-decoration: none;
		color: #AAA;
	}

		nav ul li a:hover {
			color: #fff;
		}
		
/* Introduction */
#intro {
	margin-top: 12px;
	padding: 16px;
	background: #663377 url("../png/intro.png") repeat-x;
	background-size: 100%;
	border-radius: 22px;
}

#intro h2, #intro p {
	width: 556px;
}

#intro h2 {
	padding: 0 0 2px 0;
	font-weight: normal;
	color: #fff;
}

#intro p {
	padding: 0;
	color: #eedddd;
}

/* Content Area and Sidebar */
#content {
	display: table;
}
	
	#mainContent {
		display: table-cell;
		width: 620px;
		height: 520px;
		padding-right: 22px;
	}

/* Hyperlinks */

.hyperLinks img {
	margin: 22px 0;
	box-shadow: 3px 3px 7px #432;
}

.hyperLinks a {
	color: #FFF;
	text-decoration: none;
}

.hyperLinks a:hover {
	color: #ECC;
	text-decoration: none;
}

/* FOOTER */
footer {
	position: absolute;
	left: 0;
	width: 100%;
	background: #222;
}

	footer div {
		display: table;
		margin: 0 auto;
		padding: 44px 0;
		width: 940px;
		color: #777;
	}
	
		footer div section {
			display: table-cell;
			width: 300px;
		}
		
		footer div #about, footer div #blogroll {
			padding-right: 20px;
		}
		
	footer h3 {
		color: #FFF;
	}
	
	footer a {
		color: #999;
	}
	
		footer a:hover {
			color: #FFF;
			text-decoration: none;
		}
	
	footer ul {
		margin: 0 0 0 40px;
		list-style: square;
		color: #565656;
	}
	
		footer ul li a {
			display: block;
		}