/* Basic Setup */

body {
    min-height: 100vh;
    overflow-x: hidden;
}

h2 {
	font-size: 32px;
	line-height: 44px;
	padding: 8px 0;
}

h3 {
	font-size: 22px;
	line-height: 22px;
	padding: 4px 0;
}

h4 {
	font-size: 15px;
	line-height: 4px;
	padding: 0px 0px 0px 10px;
	color: #79a;	
}

hr {
	border-top: 1px solid #cde;
	padding: 0px;
	margin: 0px;
	width: 100%;
}


p {
	padding-bottom: 9px;
}


/* Introduction */
#intro {
	margin-top: 12px;
	padding: 16px;
	background: url("../png/intro.png");
	background-size: 100%;
	border-radius: 22px;
	box-shadow: 3px 3px 3px #667788 inset;
}

#intro h2, #intro p {
	width: 556px;
}

#intro h2 {
	padding: 0 0 2px 0;
	font-weight: normal;
	color: #333;
}

#intro p {
	padding: 0;
	color: #333;
}

/* Content Area and Sidebar */
#content {
	display: table;
}

    #mainContent {
        display: table-cell;
        width: 620px;
        height: 520px;
        padding-right: 22px;
    }

/* Hyperlinks */

.hyperLinks img {
	margin: 22px 0;
	box-shadow: 3px 3px 7px #000;
}

.hyperLinks a {
	color: #36A;
	text-decoration: none;
}

.hyperLinks a:hover {
	color: #222;
	text-decoration: none;
}

/* FOOTER */
footer {
    position: fixed;
    min-height: 50px;
	bottom: 0;
	width: 100%;
	background: #222;
    color: #AAA;
}

	footer div {
		margin: 0 auto;
		padding: 44px 0;
		width: 940px;
		color: #777;
	}
	
		footer section {
            padding: 20px;
		}
		
		footer div #about, footer div #blogroll {
			padding-right: 20px;
		}
		
	footer h3 {
		color: #FFF;
	}
	
	footer a {
		color: #999;
	}
	
		footer a:hover {
			color: #FFF;
			text-decoration: none;
		}
